@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=K2D:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Koulen&display=swap');

#bg-image {
    background-color: #F0F0F3;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.search-icon {
  height: 5vh;
  width: 1vw;
}

.box {
    box-shadow: 8px 8px 26px 0px rgba(174,174,192,0.4), -8px -8px 19px 0px rgba(255,255,255,1);
    background-color: #F0F0F3;
    border-radius: 35px;
    height: 25vh;
    width: 75vw;
}

#temperature{
    font-family: 'K2D', sans-serif;
    font-size: 30vhpx;
    color: white;
    padding-left: 5%;
}


h1{
    color: #8191b0;
    padding-left: 5%;
}

h3{
  padding-left: 5%;
  padding-bottom: 5%;
  color: #8191b0;
  font-style: italic;
}


input{
    border-radius: 50px;
    border: none;
    background-color: rgba(255, 255, 255, 0.541);
    color: black;
    padding: 4px 8px 4px;
}

input::placeholder {
  color:rgba(48, 48, 48, 0.466);
}

#cityInputField {
  box-shadow: 8px 8px 26px 0px rgba(174,174,192,0.4), -8px -8px 19px 0px rgba(255,255,255,1);
    background-color: #F0F0F3;
    border-radius: 35px;
    width: 30vw;
}
#city::placeholder {
  color: #8191b076;
}

input:focus {
  outline: none;
}

.search-icon {
  padding: 10px;
  color: #8191b0;
  min-width: 50px;
}

#submitBtn{
  border-radius: 20%;
  border: none;
  background-color: rgba(38, 50, 80, 0);
  margin-left: 15px;
}

.weather-info {
  height: 40vh;
  align-items: center;
}

#temperature {
  color: #8191b0;
  font-size: 900%;
}
#location {
  color: #8191b0;
}

#fiveDay {
    padding-bottom: 1000px;
}

#dayCard{
  width: 10vw;
  height: 25vh;
  background-color: rgba(255, 255, 255, 0.317);
  border-radius: 15px;
  border: none;
}

#min{
    color: rgba(0, 0, 0, 0.425);
}
